Repository R2Northstar/NorthstarMods, pull requests merged in 2022-10, with the labels that each got.

#510 Modlist Hotfixes
  Northstar.Client/mod/scripts/vscripts/ui/menu_ns_modmenu.nut
Labels: needs testing

#509 Fix server crash from demigod setting health over max health.
  Northstar.CustomServers/mod/scripts/vscripts/_utility.gnut
Labels: needs testing, needs code review

#492 allow MP server scripts to compile with -dev or developer 1
  Northstar.CustomServers/mod/scripts/vscripts/_loadouts_mp.gnut
  Northstar.CustomServers/mod/scripts/vscripts/mp/_model_viewer.nut
  Northstar.CustomServers/mod/scripts/vscripts/sh_loadouts.nut
Labels: needs testing, almost ready to merge

#489 Add CUSTOMIZE_LOADOUT achievement
  Northstar.CustomServers/mod/scripts/vscripts/_loadouts_mp.gnut
Labels: feedback wanted

#469 Added Music and Dialogue Event
  Northstar.CustomServers/mod/scripts/vscripts/mp/_gamestate_mp.nut
  Northstar.CustomServers/mod/scripts/vscripts/mp/_score.nut
Labels: needs testing, needs code review

#466 Fixed Evac Visual and Sound
  Northstar.CustomServers/mod/scripts/vscripts/evac/_evac.gnut
Labels: needs code review

#361 Fix invalid titan soul crash on arm badge
  Northstar.Custom/mod/scripts/vscripts/titan/sh_titan.gnut
Labels: needs testing, almost ready to merge
