Repository R2Northstar/NorthstarMods, pull requests merged in 2022-08, with the labels that each got.

#467 Fixed Turret Visual
  Northstar.CustomServers/mod.json
Labels: needs code review

#455 Update "The Hidden" to make use of Serverside RUI
  Northstar.Custom/mod/scripts/vscripts/gamemodes/_gamemode_hidden.nut
Labels: needs code review, almost ready to merge

#311 Add functions to allow for custom damage source IDs
  Northstar.Custom/mod/scripts/vscripts/sh_damage_types.nut
Labels: almost ready to merge
