Repository R2Northstar/NorthstarMods, pull requests merged in 2023-07, with the labels that each got.

#622 [FW] Fix Scoreboard Sorting
  Northstar.Custom/mod/scripts/vscripts/gamemodes/sh_gamemode_fw_custom.nut
Labels: almost ready to merge

#654 [BH] Fix Bounty Titan Damage Checks
  Northstar.CustomServers/mod/scripts/vscripts/gamemodes/_gamemode_at.nut
Labels: almost ready to merge

#632 Fix grunt death callbacks
  Northstar.CustomServers/mod/scripts/vscripts/ai/_ai_soldiers.gnut
Labels: almost ready to merge

#662 Fix dropship related crash
  Northstar.CustomServers/mod/scripts/vscripts/mp/_classic_mp_dropship_intro.gnut
Labels: waiting on changes by author

#568 Prematch now cleans up boosts
  Northstar.CustomServers/mod/scripts/vscripts/item_inventory/sv_item_inventory.gnut
Labels: almost ready to merge

#628 Remove `ns_player_auth_port` from server config
  Northstar.CustomServers/mod/cfg/autoexec_ns_server.cfg
Labels: almost ready to merge

#600 Add Arc cannon
  Northstar.Custom/mod.json
  Northstar.Custom/mod/models/weapons/titan_arc_rifle/atpov_titan_arc_rifle.mdl
  Northstar.Custom/mod/models/weapons/titan_arc_rifle/w_titan_arc_rifle.mdl
  Northstar.Custom/mod/scripts/vscripts/sh_northstar_custom_precache.gnut
  Northstar.Custom/mod/scripts/vscripts/weapons/_arc_cannon.nut
  Northstar.Custom/mod/scripts/vscripts/weapons/mp_titanweapon_arc_cannon.nut
  Northstar.Custom/mod/scripts/weapons/mp_titanweapon_arc_cannon.txt
Labels: needs testing

#595 Safe IO script part
  .github/nativefuncs.json
  Northstar.Custom/mod.json
  Northstar.Custom/mod/scripts/vscripts/sh_northstar_safe_io.gnut
Labels: needs testing, depends on another PR, almost ready to merge
