Repository R2Northstar/NorthstarMods, pull requests merged in 2023-10, with the labels that each got.

#709 Fix players dying when mantling on props or embarking Titans in `mp_complex3`
  Northstar.CustomServers/mod/maps/mp_complex3_script.ent
Labels: READY TO MERGE

#718 Fix integer functionality for modsettings
  Northstar.Client/mod/scripts/vscripts/ui/menu_mod_settings.nut
Labels: READY TO MERGE

#676 Remove annoying recurring print from `chatroom.nut`
  Northstar.Client/mod/scripts/vscripts/ui/chatroom.nut
Labels: READY TO MERGE, commits vanilla file

#734 Prevent loadout validation crash due to invalid warpaints
  Northstar.CustomServers/mod/scripts/vscripts/sh_progression.nut
Labels: needs code review

#648 Display origin auth failure in a dialog
  .github/nativefuncs.json
  Northstar.Client/mod.json
  Northstar.Client/mod/resource/northstar_client_localisation_english.txt
  Northstar.Client/mod/scripts/vscripts/cl_northstar_client_init.nut
  Northstar.Client/mod/scripts/vscripts/ui/atlas_auth.nut
Labels: READY TO MERGE

#717 Fix localisation string for toggling progression on controller
  Northstar.Client/mod/resource/northstar_client_localisation_english.txt
  Northstar.Client/mod/resource/northstar_client_localisation_french.txt
  Northstar.Client/mod/resource/northstar_client_localisation_russian.txt
  Northstar.Client/mod/resource/northstar_client_localisation_spanish.txt
  Northstar.Client/mod/resource/northstar_client_localisation_tchinese.txt
Labels: READY TO MERGE

#678 Fix titan-only boosts for modes like LTS
  Northstar.Custom/mod/scripts/vscripts/burnmeter/sh_burnmeter.gnut
Labels: READY TO MERGE, vanilla parity

#687 Implement `_grunt_chatter_mp.gnut`
  Northstar.CustomServers/mod/scripts/vscripts/conversation/_grunt_chatter_mp.gnut
Labels: READY TO MERGE, vanilla parity

#740 Use string convar flags
  Northstar.Client/mod.json
  Northstar.CustomServers/mod.json
Labels: needs testing, needs code review

#530 Remove unnecessary convars
  Northstar.Client/mod/scripts/vscripts/ui/menu_lobby.nut
  Northstar.Client/mod/scripts/vscripts/ui/menu_mode_select.nut
  Northstar.Client/mod/scripts/vscripts/ui/menu_private_match.nut
  Northstar.Client/mod/scripts/vscripts/ui/openinvites.nut
  Northstar.Client/mod/scripts/vscripts/ui/panel_mainmenu.nut
  Northstar.CustomServers/mod.json
  Northstar.CustomServers/mod/scripts/vscripts/sh_northstar_utils.gnut
Labels: READY TO MERGE

#726 Unlock paid items with progression enabled
  Northstar.CustomServers/mod/scripts/vscripts/_items.nut
Labels: READY TO MERGE

#657 Fix INVALID_REF errors caused by mods
  Northstar.Client/mod/scripts/vscripts/ui/menu_edit_pilot_loadouts.nut
  Northstar.Client/mod/scripts/vscripts/ui/menu_pilot_loadouts_shared.nut
Labels: READY TO MERGE

#742 Expose extra optional arg in `UpdatePlayerStat` function
  Northstar.CustomServers/mod/scripts/vscripts/mp/_stats.nut
Labels: READY TO MERGE

#681 Fix a crash related to Arc Cannon
  Northstar.Custom/mod/scripts/vscripts/weapons/_arc_cannon.nut
Labels: READY TO MERGE

#744 Fix Titan Assist not tracking properly
  Northstar.CustomServers/mod/scripts/vscripts/mp/_score.nut
Labels: READY TO MERGE

#750 Stop logging invalid map/mode exception in progression
  Northstar.CustomServers/mod/scripts/vscripts/mp/_stats.nut
Labels: READY TO MERGE

#753 Make add to project workflow work on PRs
  .github/workflows/add-to-project.yml
Labels: needs testing, needs code review

#735 Change gun game score limit setting
  Northstar.Custom/keyvalues/playlists_v2.txt
  Northstar.Custom/mod/scripts/vscripts/gamemodes/_gamemode_gg.gnut
Labels: READY TO MERGE
