Repository R2Northstar/NorthstarMods, pull requests merged in 2023-12, with the labels that each got.

#764 Fix crash when calling for invalid loadout index
  Northstar.CustomServers/mod/scripts/vscripts/_loadouts_mp.gnut
Labels: needs testing, needs code review

#727 Add Aegis Rank reset functionality command for Progression
  Northstar.CustomServers/mod/scripts/vscripts/sh_progression.nut
  Northstar.CustomServers/mod/scripts/vscripts/sh_utility_all.gnut
Labels: READY TO MERGE

#761 Mod download UI integration
  .github/nativefuncs.json
  Northstar.Client/mod.json
  Northstar.Client/mod/resource/northstar_client_localisation_english.txt
  Northstar.Client/mod/scripts/vscripts/cl_northstar_client_init.nut
  Northstar.Client/mod/scripts/vscripts/ui/menu_ns_moddownload.nut
  Northstar.Client/mod/scripts/vscripts/ui/menu_ns_serverbrowser.nut
Labels: depends on another PR, almost ready to merge

#710 Add missing server browser localisation for `WRONG_MOD_VERSION`
  Northstar.Client/mod/resource/northstar_client_localisation_english.txt
  Northstar.Client/mod/scripts/vscripts/ui/menu_ns_serverbrowser.nut
Labels: needs testing, needs code review, almost ready to merge
