Repository R2Northstar/NorthstarMods, pull requests merged in 2024-11, with the labels that each got.

#841 Replace uses of `disconnect` with `NSDisconnectPlayer`
  Northstar.Custom/mod/scripts/vscripts/burnmeter/sh_burnmeter.gnut
  Northstar.CustomServers/mod/scripts/vscripts/sh_loadouts.nut
Labels: READY TO MERGE

#888 Allow executing ``npc_pilot_elite`` NPCs
  Northstar.Custom/keyvalues/scripts/aisettings/npc_pilot_elite.txt
  Northstar.Custom/mod/scripts/vscripts/melee/sh_melee.gnut
Labels: READY TO MERGE

#901 Translations update from Weblate
  Northstar.Client/mod/resource/northstar_client_localisation_italian.txt
Labels: needs testing, needs code review

#895 Remove clutter client logging in melee scripts
  Northstar.Custom/mod/scripts/vscripts/melee/sh_melee.gnut
  Northstar.Custom/mod/scripts/vscripts/melee/sh_melee_human.gnut
Labels: almost ready to merge

#704 Fix for the Triple Threat's world model not working properly when used by an AI opponent
  Northstar.Custom/mod/models/weapons/titan_triple_threat_og/w_titan_triple_threat_og.mdl
Labels: READY TO MERGE

#900 Fix client crash during final killcam
  Northstar.Client/mod/scripts/vscripts/client/cl_screenfade.gnut
Labels: READY TO MERGE

#899 refactor: Mod information
  .github/nativefuncs.json
  Northstar.Client/mod/scripts/vscripts/cl_northstar_client_init.nut
  Northstar.Client/mod/scripts/vscripts/ui/menu_ns_modmenu.nut
  Northstar.Client/mod/scripts/vscripts/ui/menu_ns_serverbrowser.nut
  Northstar.Client/mod/scripts/vscripts/ui/menu_ns_setversionlabel.nut
  Northstar.Client/mod/scripts/vscripts/ui/panel_mainmenu.nut
Labels: needs testing, needs code review, depends on another PR

#865 feat: Make MAD process cancellable
  .github/nativefuncs.json
  Northstar.Client/mod/scripts/vscripts/ui/menu_ns_moddownload.nut
Labels: READY TO MERGE, MAD

#872 Add button to allow players to change teams
  Northstar.Client/mod/resource/northstar_client_localisation_english.txt
  Northstar.Client/mod/scripts/vscripts/ui/menu_ingame.nut
  Northstar.Custom/mod/scripts/vscripts/gamemodes/_gamemode_hidden.nut
  Northstar.Custom/mod/scripts/vscripts/gamemodes/_gamemode_inf.gnut
  Northstar.CustomServers/mod.json
  Northstar.CustomServers/mod/scripts/vscripts/mp/_base_gametype_mp.gnut
Labels: READY TO MERGE

#883 Optional icons for server-side RUI announcements
  Northstar.Custom/mod/scripts/vscripts/sh_message_utils.gnut
Labels: READY TO MERGE

#902 Translations update from Weblate
  Northstar.Client/mod/resource/northstar_client_localisation_japanese.txt
Labels: needs testing, needs code review

#904 Translations update from Weblate
  Northstar.Client/mod/resource/northstar_client_localisation_russian.txt
Labels: needs testing, needs code review

#905 Translations update from Weblate
  Northstar.Client/mod/resource/northstar_client_localisation_russian.txt
Labels: needs testing, needs code review

#862 Arc Cannon charge effect fixes
  Northstar.Custom/mod/scripts/weapons/mp_titanweapon_arc_cannon.txt
Labels: needs testing, needs code review

#906 Fix Thunderbolt crashing clients when owner is invalid
  Northstar.Client/mod/scripts/vscripts/client/cl_damage_indicator.gnut
Labels: READY TO MERGE

#864 Fix transferring active Stim ability to Titan and endless stim effects
  Northstar.Custom/mod/scripts/vscripts/weapons/sh_stim.gnut
Labels: READY TO MERGE
