Repository R2Northstar/NorthstarMods, pull requests merged in 2024-07, with the labels that each got.

#808 Unfuck the Spawns
  Northstar.CustomServers/mod/scripts/vscripts/gamemodes/_gamemode_ctf.nut
  Northstar.CustomServers/mod/scripts/vscripts/mp/spawn.nut
Labels: feedback wanted

#809 Rework Intro Dropship Script to avoid player overlap
  Northstar.CustomServers/mod/scripts/vscripts/mp/_classic_mp_dropship_intro.gnut
Labels: vanilla parity

#810 Play battle chatter during dropship intro
  Northstar.CustomServers/mod/scripts/vscripts/mp/_classic_mp_dropship_intro.gnut
Labels: vanilla parity

#817 Fix "Kills by Auto-Titan" not registering at all
  Northstar.CustomServers/mod/scripts/vscripts/mp/_stats.nut
Labels: needs testing, almost ready to merge

#821 Only fetch MAD manifesto on server join
  .github/nativefuncs.json
  Northstar.Client/mod/resource/northstar_client_localisation_english.txt
  Northstar.Client/mod/scripts/vscripts/ui/menu_ns_moddownload.nut
  Northstar.Client/mod/scripts/vscripts/ui/menu_ns_serverbrowser.nut
Labels: needs code review, almost ready to merge

#693 Add a generic "JoinServer" function
  Northstar.Client/mod/scripts/vscripts/ui/menu_ns_connect_password.nut
  Northstar.Client/mod/scripts/vscripts/ui/menu_ns_serverbrowser.nut
Labels: READY TO MERGE
