Repository R2Northstar/NorthstarMods, pull requests merged in 2024-09, with the labels that each got.

#830 Complete overhaul for the CTF script
  Northstar.CustomServers/mod/scripts/vscripts/gamemodes/_gamemode_ctf.nut
Labels: gamemode, needs code review

#856 Prevent rare crash when player disconnects during War Games intro
  Northstar.CustomServers/mod/scripts/vscripts/mp/levels/mp_wargames.nut
Labels: READY TO MERGE

#664 Add basic contributing docs
  CONTRIBUTING.md
Labels: feedback wanted

#829 Unfucked Spawns Definitive Edition (featuring Dante from the Devil May Cry™ series)
  Northstar.CustomServers/mod/scripts/vscripts/mp/spawn.nut
Labels: needs testing, feedback wanted, almost ready to merge

#875 Reorder code of `_gamestate_mp.nut`
  Northstar.CustomServers/mod/scripts/vscripts/mp/_gamestate_mp.nut
Labels: needs testing, needs code review

#624 Rework mode select menu
  Northstar.Client/mod.json
  Northstar.Client/mod/resource/northstar_client_localisation_english.txt
  Northstar.Client/mod/resource/ui/menus/mode_select.menu
  Northstar.Client/mod/resource/ui/menus/panels/mode_select_button.res
  Northstar.Client/mod/scripts/vscripts/ui/menu_mode_select.nut
Labels: merge conflicts, almost ready to merge

#879 Translations update from Weblate
  Northstar.Client/mod/resource/northstar_client_localisation_russian.txt
Labels: needs testing, needs code review

#881 Fix Discord presence crashing on Campaign
  Northstar.Client/mod/scripts/vscripts/presence/cl_presence.nut
Labels: needs code review, almost ready to merge

#886 Translations update from Weblate
  Northstar.Client/mod/resource/northstar_client_localisation_french.txt
Labels: needs testing, needs code review
