Repository R2Northstar/NorthstarMods, pull requests merged in 2024-01, with the labels that each got.

#769 Add validity check to `SaveStatsPeriodically_Threaded`
  Northstar.CustomServers/mod/scripts/vscripts/mp/_stats.nut
Labels: needs testing

#774 Fix spectating for LTS
  Northstar.CustomServers/mod/scripts/vscripts/mp/_gamestate_mp.nut
Labels: almost ready to merge

#731 Prevent crash when selecting first infected
  Northstar.Custom/mod/scripts/vscripts/gamemodes/_gamemode_inf.gnut
Labels: needs testing, needs code review

#705 Prevent client side crash in MFD when marked target dies out of bounds.
  Northstar.CustomServers/mod/scripts/vscripts/gamemodes/_gamemode_mfd.nut
Labels: vanilla parity

#786 Unlock remaining DLC items while progression is enabled
  Northstar.CustomServers/mod/scripts/vscripts/_items.nut
Labels: needs testing, almost ready to merge

#702 Scale pilot kill core gain properly for mixed modes
  Northstar.CustomServers/mod/scripts/vscripts/mp/_score.nut
Labels: vanilla parity
