Repository R2Northstar/NorthstarMods, pull requests merged in 2025-05, with the labels that each got.

#925 Translations update from Weblate
  Northstar.Client/mod/resource/northstar_client_localisation_russian.txt
Labels: needs testing, needs code review

#893 Add crosshair target changed callback
  Northstar.Client/mod/scripts/vscripts/client/cl_player.gnut
  Northstar.Client/mod/scripts/vscripts/client/cl_sp_player.gnut
Labels: READY TO MERGE, commits vanilla file

#551 Prevent potential issues and crashes with HTTP requests.
  Northstar.Custom/mod/scripts/vscripts/sh_northstar_http_requests.gnut
Labels: READY TO MERGE
